.container{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding: 40px;
    
}

body{
    background-color: rgb(211, 207, 207);
}
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
li{
    text-align: center;
    list-style: none;
    font-size: 20px;
}
.card{
    width: 400px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(187, 185, 185);
    background-color:rgb(250, 244, 244);
}
button{
    font-size: 25px;
    background-color:rgb(250, 244, 244);
    border: none;
}
.btn-delete{
    padding: 2px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    background-color:rgb(250, 244, 244);
    border: none;
}
input{
    padding: 5px;
    margin-left: 90px;
    border-radius: 5px;
    font-size: 15px;
}